<h2>Edit Your Profile</h2>
</br>
<form action="/users/<%=current_user.slug%>/edit" method='post'>
    <label>Email:</label>
    <input type="text" name='user[email]' value='<%=current_user.email%>'>

    </br>
    <label>New Password:</label>
    <input type="password" name='user[password]' value=''>

    </br>
    <label>Location:</label>
    <input type="text" name='user[location]' value='<%=current_user.location%>'>

    </br>
    <label>Avatar image url:</label>
    <input type="text" name='user[img]' value='<%=current_user.img%>'>

    </br>
    <label>Tell us about yourself:</label>
    <textarea name="user[details]" rows="4" cols="40"><%=current_user.details%></textarea>
    </br>
    <input type="submit" value="Update Profile">
</form>
