<%if !!session[:error]%>
  <h3>Error: <%=session[:error]%></h3>
  <!-- clearing error -->
  <%session.delete('error')%>
<%end%>
<h2><%=@user_db.username%>'s Profile</h2>

<article class="container">
  <div>
    <img src="<%=@user_db.img%>" alt="">
  </div>

  <div>
    <h3>Location: <%=@user_db.location%></h3>
    <h3>Details: <%=@user_db.details%></h3>
    <a href="/users/<%=@user_db.slug%>/items">View <%=@user_db.username%>'s Items</a>
    <%if current_user==@user_db%>
      </br>
      <a href="/users/<%=current_user.slug%>/edit">Edit My Profile</a>
    <%end%>
  </div>
</article>
