<h2><%=@user_db.username%>'s Profile</h2>
<img src="<%=@user_db.img%>" alt="">

<article>
  <header>
    Location:
  </header>
  <p><%=@user_db.location%></p>
  <header>
    Details:
  </header>
  <p><%=@user_db.details%></p>
</br>
  <a href="/users/<%=@user_db.slug%>/items">View <%=@user_db.username%>'s Items</a>
</article>
