<%if !!session[:error]%>
  <h3>Error: <%=session[:error]%></h3>
  <!-- clearing error -->
  <%session.delete('error')%>
<%end%>

<div class="item-container">
  <article class="thumb">
    <h2><%=@item.name%></h2>
    <a href="<%=@item.img%>" target ="_blank"><img src="<%=@item.img%>"></a>

    <p>Original owner: <a href="users/<%=@item.user.slug%>"><%=@item.user.username%></a></p>

    <%holder = User.find(@item.current_possessor_user_id)%>
    <p>Currently held by: <a href="users/<%=holder.slug%>"><%=holder.username%></a></p>
  </article>

  <article class="thumb">
    <h3>Stats</h3>
    <p>Condition: <%=@item.condition%></p>
    <p>Type: <%=@item.item_type%></p>
    <p>Condition: <%=@item.condition%></p>
    <p>Description: <%=@item.desc%></p>
  </article>
</div>

<%if !@item.reviews.empty?%>
  <h3>Reviews</h3>
  <table>
    <tr>
      <th>User</th>
      <th>Review</th>
    </tr>

    <%@item.reviews.each do |review|%>
      <tr>
        <td><%=review.user.username%></td>
        <td><%=review.review%></td>
      </tr>
    <%end%>
  </table>
<%else%>
<h3>There are no reviews for this item</h3>
<%end%>

<%if holder == current_user && holder!=@item.user%>
<a href="/items/<%=@item.id%>/new_review"></a>
<%elsif @item.user == current_user%>
<a href="/items/<%=@item.id%>/edit">Edit Item</a>
<%end%>
