<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Garm Road</title>
    <link rel="stylesheet" href=<%=url("/css/style.css")%>>
</head>
<body>
  <!-- include nav-bar -->
  <!-- include header (with user name) -->
  <%if logged_in?%>
    <h2>Welcome, <%=current_user.username%></h2>
    <nav>
      <a href="/items">View All Items</a> |
      <a href="/users/<%=current_user.slug%>/items">View My Items</a> |
      <a href="/users/<%=current_user.slug%>">View My Profile</a> |
      <a href="/logout">Logout</a>
    </nav>
  <%end%>
  <!-- include logout option -->
    <%=yield%>
</body>
</html>
